:root {
	--soft-blue: hsl(243, 86%, 85%);
	--dark-blue: hsl(243, 87%, 12%);
	--accent-green: hsl(163, 95%, 43%);
	--neutral-gray: hsl(0, 0%, 50%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ion-icon {
	margin: 0 1em;
	font-size: 32px;
	color: var(--dark-blue);
}

.header-elem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1,
h2 {
	font-family: 'Raleway', sans-serif;
	color: var(--dark-blue);
}

p {
	font-family: 'Open Sans', sans-serif;
}

#signup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	vertical-align: middle;
	font-size: 40px;
	height: 70px;
	width: 60%;
}

button {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--accent-green);
	color: white;
	font-size: 18px;
	height: 72px;
	width: 33%;
	vertical-align: middle;
}

.rounded-shadowed {
	border: 0;
	border-radius: 4px;
	box-shadow: 3px 4px 8px #d8d8d8;
}
