:root {
	--soft-blue: hsl(243, 86%, 85%);
	--dark-blue: hsl(243, 87%, 12%);
	--accent-green: hsl(163, 95%, 43%);
	--neutral-gray: hsl(0, 0%, 50%);
	--shadow: 3px 4px 8px #d8d8d8;
}

* {
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: url('./images/bg-intro.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2em;
}

.hero-img {
	display: block;
	width: auto;
	height: auto;

	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 1em;
	filter: invert(1) hue-rotate(180deg) brightness(3);
}

ion-icon {
	color: white;
	font-size: 20px;
	margin: 0 10px;
}

.main-page {
	padding: 5em 2em;
	display: flex;
	flex-direction: column;
}

.main-page > * {
	margin-bottom: 1em;
}

.main-page h1,
.main-page h3 {
	font-family: 'Raleway', sans-serif;
	color: var(--dark-blue);
}

.main-page p {
	font-size: 14px;
	color: var(--neutral-gray);
}

.signup-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.signup-section input[type='text'] {
	box-shadow: none;
	border: 1px solid lightgray;
	width: 100%;
	height: 36px;
	font-size: 32px;
	margin: 16px auto;
}

.signup-section input[type='submit'] {
	background-color: var(--accent-green);
	color: white;
	font-size: 18px;
	height: 48px;
	width: 40%;
	vertical-align: middle;
}

.rounded-shadowed {
	border: 0;
	border-radius: 4px;
	box-shadow: var(--shadow);
}

.privacy-link {
	align-self: flex-end;
	color: var(--dark-blue);
	font-size: 12px;
}

@media screen and (min-width: 664px) {
	.container {
		flex-wrap: wrap;
		background-image: none;
		height: 100vh;
		width: 100vw;
	}

	.hero {
		background-image: linear-gradient(45deg, rgb(93, 98, 168), rgb(3, 28, 113));
		width: 40vw;
		height: 100vh;
	}

	.menu {
		order: 1;
		padding: 0 2em;
	}

	.menu ul {
		flex-wrap: wrap;
	}

	.logo {
		filter: none;
		margin: 0;
	}

	ion-icon {
		color: var(--dark-blue);
		font-size: 28px;
		margin: 0 10px;
	}

	.main-page {
		order: 2;
		width: 40vw;
	}

	.signup {
		display: flex;
		justify-content: space-between;
	}

	.signup-section input[type='text'] {
		font-size: 40px;
		height: 64px;
		width: 60%;
		margin: 0;
		border: none;
		box-shadow: var(--shadow);
	}

	.signup-section input[type='submit'] {
		font-size: 18px;
		height: 72px;
		width: 30%;
	}
}
